@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Noto+Sans&family=Noto+Sans+JP&display=swap');

* {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: normal;
  font-weight: normal;
  font-family: 'Noto Sans', 'Noto Sans JP', 'sans-serif';
  font-weight: 400;
  text-decoration: none;
  border: none;
  border-radius: 0;
  outline: none;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

h5 {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

h6 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

p {
  font-size: 16px;
  font-weight: 100;
  line-height: 32px;
}

img {
  width: 100%;
  height: auto;
}

a {
  decorate: none;
  &.decorated {
    color: #808080;
    border-bottom: dashed 0.5px #808080;
  }
  &.decorated-dark {
    color: #a0a0a0;
    border-bottom: dashed 0.5px #a0a0a0;
  }
}

body {
  background-color: #e3e3e3;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  background-color: rgba(16, 16, 16, 0.8);

  #header-container {
    margin: 0 auto;
    padding: 16px;

    &::after {
      display: block;
      clear: both;
      content: '';
    }

    h1 {
      font-size: 18px;
      font-weight: 900;
      letter-spacing: 4px;
      transition: .3s;
      color: #ffffff;
      
      &:hover {
        cursor: pointer;
        color: #b0b0b0;
      }
  }
  
  #header-logo {
    display: block;
    float: left;
    }
  }

  #navigation {
    display: block;
    float: right;
    
    ul {
      list-style: none;
      display: block;
      
      li {
        margin: 0 32px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

footer {
  width: 100%;
  margin: 64px 0;
  text-align: center;
}

#container {
  width: 100%;
}

.limited-width {
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
}

.a-content {
  width: calc(100% - 32px);
  margin: 64px 16px;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

article {
  h2 {
    width: calc(100% - 44px);
    margin: 32px 0px 16px 0px;
    padding: 8px 16px;
    border-bottom: solid 4px #000000;
    border-left: solid 12px #000000;
  }

  h3 {
    width: calc(100% - 40px);
    margin: 32px 0px 16px 0px;
    padding: 8px 16px;
    border-bottom: solid 4px #000000;
    border-left: solid 8px #000000;
  }

  p {
    width: calc(100% - 64px);
    margin: 16px 32px;
  }
}

.spacer {
  width: calc(100%);
  height: 16px;
}

#top {
  width: calc(100vw - 64px);
  height: calc(100vh - 160px);
  min-height:
  margin: 0;
  padding: 128px 32px 32px 32px;
  background-color: #333333;

  h1, p {
    color: #fafafa;
  }

  #hello-text {
    margin: 16px 0px;
  }

  #phrase-open {
    margin: 64px 0px;
    h1 {
      margin: 32px 0px;
      font-size: 48px;
    }
    p {
      margin: 16px 0px;
      font-style: italic;
    }
  }

  #top-image {
    img {
      width: 25%;
      height: auto;
      box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.8);
    }
  }

  #jump-to-bottom {
    margin: 32px 0px;
    a {
      padding: 4px 8px;

      i {
        margin-left: 8px;
        font-size: inherit;
        color: inherit;
      }
    }
  }
}

form {
  text-align: center;
  input, textarea {
    width: calc(100% - 32px);
    margin: 16px 0px;
    padding: 16px;
    background-color: #f5f5f5;
    font-size: 16px;
  }
  textarea {
    min-height: 300px;
    resize: vertical;
  }
  .submit-button {
    width: 300px;
    padding: 16px;
    border-radius: 64px;
    border: solid 4px #000000;
    background-color: #000000;
    color: #ffffff;
    transition: .3s;
    &:hover {
      cursor: pointer;
      background-color: #ffffff;
      color: #000000;
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    #hamburger {
      display: none;
    }
  }
}

@media screen and (max-width: 1023px) {
  header {
    #header-logo {
      margin: 12px 4px;
    }

    #hamburger {
      display: block;
      div {
        width: 40px;
        height: 1px;
        margin: 12px 4px;
        background-color: #696969;
        &:hover {
          cursor: pointer;
        }
      }
    }
    nav {
      display: none;
      &.show {
        width: calc(100vw - 32px);
        height: calc(100vh);
        margin: 0;
        padding: 16px 0px;
        background-color: rgba(16, 16, 16, 0.8);
        ul {
          text-align: right;
          li {
            display: block;
          }
        }
      }
    }
  }
}
